// /**
//  * CSS files with the .module.css suffix will be treated as CSS modules
//  * and scoped locally.
//  */

.heroBanner {
  padding: 4rem 0;
  text-align: center;
  position: relative;
  overflow: hidden;
  background-color: salmon; /* For browsers that do not support gradients */
  background-image: linear-gradient(to bottom right, #EC479B, #FF807A);
  height: calc(100vh - 60px);
}

@media screen and (max-width: 996px) {
  .heroBanner {
    padding: 2rem;
  }
}

.buttons {
  .button {
    background-color: white;
  }
  display: flex;
  align-items: center;
  justify-content: center;
}
