.highlight {
    display: inline-block;
    position: relative;
    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 80%;
        height: 30%;
        transform: perspective(300px) skewX(10deg) rotateX(10deg) rotateY(-10deg) scale(1.1) translate(0, 19px);
        background-image: linear-gradient( 78deg, #f736a7ae 30%, #ffb3cea8 );
        z-index: -1;
        transition: all 0.3s;
        border-radius: 0.2rem;
    }
}

