@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

.about-wrapper {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;

  .about-section {
    align-self: center;

    .profile {
      max-height: 300px;
      border-radius: 1000px;
    }

    .text-wrapper {
      .title {
        font-family: 'Space Mono', monospace;
        font-weight: 700;
        font-size: 32px;
      }

      .body {
        max-width: 500px;
        margin-bottom: 18px;
      }

      .links {
        font-weight: 400;
      }
    }
  }

  @media screen and (max-width: 996px) {
    padding: 2rem;
  }
}
